h1{
    margin-top: 20px;
    font-weight: bold;
}
h3{
    margin-left: 50px;
    font-weight: bold;
}
p{
    font-size: 15px;
}
.tableauPlaceholder{
    float: left;
    margin-left: 50px;
    margin-right: 25px;
}
.TextWrap{
   margin-left: 50px;
   margin-right: 50px;
}
